@import "components/LandingBanner";
@import "components/Welcome";
@import "components/Surfers";
@import "components/Awards";
@import "components/Gallery";
@import "components/Contacto";
@import "components/Footer";
@import "components/Nav";

body {
  margin: 0;
  font-family: "bahn";
  width: 100%;
  overflow-x: hidden;
  background: {
    image: url("../src/images/separador.jpg");
    attachment: fixed;
    repeat: no-repeat;
  }
}

html {
  zoom: 0.4;
}
