@import "Mixins";

.awards {
  font-family: "bahn";
  text-align: center;
  background-color: #003e44;
  @media (min-width: 760px) {
    width: 100%;
    float: left;
    margin-bottom: 0vh;
  }
}

.titleAwards {
  color: #fff;
  line-height: 1em;
  font-weight: bold;
  font-family: "bahn";
  font-size: 7em;
  padding: 1em 1em 0em;
}

.competitions {
  padding: 2em;
  width: 100%;
  @media (min-width: 760px) {
    margin: 5% auto;
    width: 30%;
    float: left;
    position: relative;
  }
}

.poster {
  width: 60%;
}
