@import "Mixins";

.surfers {
  background : {
    image: url("../src/images/bkolas.jpg");
    size: auto 100%;
    repeat: no-reapeat;
  }
  font-family: "bahn";
  text-shadow: 0px 0px 1em #000;
  text-align: center;
  padding: 3em 5em;
  color: #fff;
  float: left;
  @media (min-width: 760px) {
    background: {
      size: 100% 100%;
    }
    padding: 10vw 30vw;
    float: left;
  }
  @media (min-width: 1280px) {
    background: {
      size: 100%;
    }
    padding: 10vw 30vw;
    float: left;
  }
}
.sectionTitle {
  font-size: 6em;
  text-align: left;
  margin-bottom: 1em;
}
.nombreSurfer {
  margin: 2em;
  font-size: 3.5em;
  @media (min-width: 760px) {
    margin: 0px;
    padding-right: 30%;
  }
}

.imgSurfer {
  width: 50%;
  @media (min-width: 760px) {
    width: 20%;
    float: right;
  }
}

.biografiaSurfer {
  text-align: justify;
  padding: 1em 2em 3em;
  font-size: 2.5em;
  @media (min-width: 760px) {
    float: right;
    width: 60%;
  }
  @media (min-width: 1280px) {
    padding-left: 30%;
    box-sizing: border-box;
    float: left;
    width: 80%;
  }
}

.nombreSurfer2 {
  color: #000;
  margin: 2em;
  font-size: 3.5em;
  @media (min-width: 760px) {
    margin: 0px;
    padding-right: 50%;
  }
}

.imgSurfer2 {
  width: 50%;
  @media (min-width: 760px) {
    position: relative;
    width: 20%;
    float: left;
  }
  @media (min-width: 1280px) {
    width: 20%;
    float: left;
  }
}

.biografiaSurfer2 {
  color: #000;
  text-align: justify;
  padding: 1em 2em 3em;
  font-size: 2.5em;
  @media (min-width: 760px) {
    float: left;
    padding-right: 0;
    width: 60%;
  }
  @media (min-width: 1280px) {
    padding-left: 10%;
    box-sizing: border-box;
    float: left;
    width: 60%;
  }
}

.surfers > article {
  width: 100%;
}
